.projects{
  display: flex;
  flex: 1 1 0%;
  align-items: flex-start;
  /* font-size: 16px; */
  /* width: 1006px;
  height: 432px; */
  /* padding-bottom: 164px;
  padding-right: 164px; */
  justify-content: flex-start;
}

.projects ul {
  display: block;
  /* height: 76px; */
  /* width: 832px; */
}

.li {
  display: list-item;
  height: 16px;
  text-align: left;
  /* width: 839px; */
}

.projectsRow {
  display: inline;
  text-decoration: underline;
  width: auto;
  height: auto;
  text-align: left;
}