/* @font-face {
    font-family: __robotoMonoItalic_3ee4db;
    src: url(/_next/static/media/2a7aacc902336259-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 100 900;
    font-style:italic
}

@font-face {
    font-family: __robotoMonoItalic_Fallback_3ee4db;
    src: local("Arial");
    ascent-override: 81.47%;
    descent-override: 21.07%;
    line-gap-override: 0.00%;
    size-adjust:128.62%
}

.__className_3ee4db {
    font-family: __robotoMonoItalic_3ee4db, __robotoMonoItalic_Fallback_3ee4db;
    font-style:italic
}

.__variable_3ee4db {
    --font-roboto-mono-italic: "__robotoMonoItalic_3ee4db", "__robotoMonoItalic_Fallback_3ee4db"
}

@font-face {
    font-family: __robotoMono_1a6120;
    src: url(/_next/static/media/b70721d941dc2a3a-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight:100 900
}

@font-face {
    font-family: __robotoMono_Fallback_1a6120;
    src: local("Arial");
    ascent-override: 79.68%;
    descent-override: 20.61%;
    line-gap-override: 0.00%;
    size-adjust:131.51%
}

.__className_1a6120 {
    font-family:__robotoMono_1a6120, __robotoMono_Fallback_1a6120
}

.__variable_1a6120 {
    --font-roboto-mono: "__robotoMono_1a6120", "__robotoMono_Fallback_1a6120"
}

*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:;
    --tw-pan-y:;
    --tw-pinch-zoom:;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:;
    --tw-gradient-via-position:;
    --tw-gradient-to-position:;
    --tw-ordinal:;
    --tw-slashed-zero:;
    --tw-numeric-figure:;
    --tw-numeric-spacing:;
    --tw-numeric-fraction:;
    --tw-ring-inset:;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:;
    --tw-brightness:;
    --tw-contrast:;
    --tw-grayscale:;
    --tw-hue-rotate:;
    --tw-invert:;
    --tw-saturate:;
    --tw-sepia:;
    --tw-drop-shadow:;
    --tw-backdrop-blur:;
    --tw-backdrop-brightness:;
    --tw-backdrop-contrast:;
    --tw-backdrop-grayscale:;
    --tw-backdrop-hue-rotate:;
    --tw-backdrop-invert:;
    --tw-backdrop-opacity:;
    --tw-backdrop-saturate:;
    --tw-backdrop-sepia:;
    --tw-contain-size:;
    --tw-contain-layout:;
    --tw-contain-paint:;
    --tw-contain-style:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:;
    --tw-pan-y:;
    --tw-pinch-zoom:;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:;
    --tw-gradient-via-position:;
    --tw-gradient-to-position:;
    --tw-ordinal:;
    --tw-slashed-zero:;
    --tw-numeric-figure:;
    --tw-numeric-spacing:;
    --tw-numeric-fraction:;
    --tw-ring-inset:;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:;
    --tw-brightness:;
    --tw-contrast:;
    --tw-grayscale:;
    --tw-hue-rotate:;
    --tw-invert:;
    --tw-saturate:;
    --tw-sepia:;
    --tw-drop-shadow:;
    --tw-backdrop-blur:;
    --tw-backdrop-brightness:;
    --tw-backdrop-contrast:;
    --tw-backdrop-grayscale:;
    --tw-backdrop-hue-rotate:;
    --tw-backdrop-invert:;
    --tw-backdrop-opacity:;
    --tw-backdrop-saturate:;
    --tw-backdrop-sepia:;
    --tw-contain-size:;
    --tw-contain-layout:;
    --tw-contain-paint:;
    --tw-contain-style:
}
/*
! tailwindcss v3.4.13 | MIT License | https://tailwindcss.com


*, :after, :before {
    box-sizing: border-box;
    border:0 solid #e5e7eb
}

:after, :before {
    --tw-content: ""
}

:host, html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color:transparent
}

body {
    margin: 0;
    line-height:inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width:1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration:underline dotted
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight:inherit
}

a {
    color: inherit;
    text-decoration:inherit
}

b, strong {
    font-weight:bolder
}

code, kbd, pre, samp {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size:1em
}

small {
    font-size:80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align:baseline
}

sub {
    bottom:-.25em
}

sup {
    top:-.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse:collapse
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding:0
}

button, select {
    text-transform:none
}

button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image:none
}

:-moz-focusring {
    outline:auto
}

:-moz-ui-invalid {
    box-shadow:none
}

progress {
    vertical-align:baseline
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    height:auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset:-2px
}

::-webkit-search-decoration {
    -webkit-appearance:none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font:inherit
}

summary {
    display:list-item
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin:0
}

fieldset {
    margin:0
}

fieldset, legend {
    padding:0
}

menu, ol, ul {
    list-style: none;
    margin: 0;
    padding:0
}

dialog {
    padding:0
}

textarea {
    resize:vertical
}

input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
    color:#9ca3af
}

input::placeholder, textarea::placeholder {
    opacity: 1;
    color:#9ca3af
}

[role=button], button {
    cursor:pointer
}

:disabled {
    cursor:default
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align:middle
}

img, video {
    max-width: 100%;
    height:auto
}

[hidden] {
    display:none
}

.website .pointer-events-none {
    pointer-events:none
}

.website .static {
    position:static
}

.website .absolute {
    position:absolute
}

.website .-left-24 {
    left:-6rem
}

.website .top-0 {
    top:0
}

.website .block {
    display:block
}

.website .flex {
    display:flex
}

.website .h-full {
    height:100%
}

.website .h-screen {
    height:100vh
}

.website .w-48 {
    width:12rem
}

.website .w-full {
    width:100%
}

.website .w-screen {
    width:100vw
}

.website .flex-1 {
    flex:1 1 0%
}

.website .shrink-0 {
    flex-shrink:0
}

.website .flex-col {
    flex-direction:column
}

.website .justify-start {
    justify-content:flex-start
}

.website .gap-10 {
    gap:2.5rem
}

.website :is(.space-y-1 > :not([hidden]) ~ :not([hidden])) {
    --tw-space-y-reverse: 0;
    margin-top: calc(.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom:calc(.25rem * var(--tw-space-y-reverse))
}

.website .bg-\[\#151715\] {
    --tw-bg-opacity: 1;
    background-color:rgb(21 23 21/var(--tw-bg-opacity))
}

.website .bg-background {
    background-color:var(--background)
}

.website .pb-\[5vh\] {
    padding-bottom:5vh
}

.website .pl-\[20vw\] {
    padding-left:20vw
}

.website .pr-\[5vw\] {
    padding-right:5vw
}

.website .pt-\[20vh\] {
    padding-top:20vh
}

.website .text-left {
    text-align:left
}

.website .font-mono {
    font-family:ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace
}

.website .font-primary {
    font-family:var(--font-roboto-mono)
}

.website .text-2xl {
    font-size: 1.5rem;
    line-height:2rem
}

.website .text-xs {
    font-size: .75rem;
    line-height:1rem
}

.website .uppercase {
    text-transform:uppercase
}

.website .italic {
    font-style:italic
}

.website .leading-none {
    line-height:1
}

.website .tracking-wide {
    letter-spacing:.025em
}

.website .text-primary {
    color:var(--primary)
}

.website .text-white {
    --tw-text-opacity: 1;
    color:rgb(255 255 255/var(--tw-text-opacity))
}

.website .underline {
    text-decoration-line:underline
}

.website .underline-offset-4 {
    text-underline-offset:4px
}

.website .antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale
}

.website .opacity-0 {
    opacity:0
}

.website .opacity-100 {
    opacity:1
}

.website .opacity-60 {
    opacity:.6
}

.website .opacity-90 {
    opacity:.9
}

.website .filter {
    filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

:root {
    --background: #151715;
    --foreground: #181b18;
    --foreground2: #181b18;
    --primary: #f2f2f2;
    --primary-text: #f2f2f2;
    --primary-border: #f2f2f2;
    --secondary: #b90000;
    --secondary-text: #b90000;
    --secondary-border: #b90000;
    --tertiary: #fc0;
    --tertiary-text: #fc0;
    --tertiary-border:#fc0
}

body, html, main {
    overflow-x: hidden;
    max-width: 100%;
    width:100%
}

main {
    overflow:hidden
}

.richtext {
    max-width: none;
    font-size: .875rem;
    line-height:1.25rem
}

.richtext h1 {
    margin-top: 1.25rem;
    font-size: 1.5rem;
    line-height: 2rem;
    --tw-text-opacity:1
}

.richtext h1, .richtext h2 {
    margin-bottom: .75rem;
    font-weight: 700;
    color:rgb(255 255 255/var(--tw-text-opacity))
}

.richtext h2 {
    margin-top: 1rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    --tw-text-opacity:0.7
}

.richtext h3 {
    --tw-text-opacity:0.5
}

.richtext h3, .richtext h4 {
    margin-top: .75rem;
    margin-bottom: .5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    color:rgb(255 255 255/var(--tw-text-opacity))
}

.richtext h4 {
    --tw-text-opacity:0.3
}

.richtext h5, .richtext h6 {
    margin-top: .75rem;
    margin-bottom: .5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: rgb(255 255 255/var(--tw-text-opacity));
    --tw-text-opacity:0.3
}

.richtext p {
    margin-bottom: .75rem;
    line-height:1.625
}

.richtext ul {
    list-style-type:disc
}

.richtext ol, .richtext ul {
    margin-bottom: .75rem;
    padding-left:1rem
}

.richtext ol {
    list-style-type:decimal
}

.richtext li {
    margin-bottom:.5rem
}

.richtext a {
    color: var(--secondary);
    text-decoration-line:underline
}

.richtext blockquote {
    margin-bottom: 1.25rem;
    border-left-width: 4px;
    --tw-border-opacity: 1;
    border-color: rgb(212 212 212/var(--tw-border-opacity));
    padding-left: .75rem;
    font-style: italic;
    --tw-text-opacity: 1;
    color:rgb(107 114 128/var(--tw-text-opacity))
}

.richtext strong {
    font-weight:600
}

.richtext em {
    font-style:italic
}

.code-block {
    position:relative
}

.code-block * {
    font-size: 11px;
    line-height:1.5
}

.code-block__language {
    position: absolute;
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    top: -17px;
    left: 0;
    right: 0;
    background-color: #e6e6e6;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 5px;
    color:#fff
}

.richtext p > code {
    background: #1f2937;
    padding:0 5px
}

.caption p {
    margin-bottom:0
}

.swiper-pagination {
    position: relative !important;
    margin-top: .75rem !important;
    text-align:center !important
}

.swiper-pagination-bullet {
    background-color: #9ca3af !important;
    opacity:1 !important
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color:#1f2937 !important
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform:translateY(10px)
    }

    to {
        opacity: 1;
        transform:translateY(0)
    }
}

.animate-slideUp {
    animation-name: slideUp;
    animation-duration: 0s;
    animation-timing-function:ease-out
}

.website .focus-visible\:outline-none:focus-visible {
    outline: 2px solid transparent;
    outline-offset:2px
}

.website .focus-visible\:ring-2:focus-visible {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow:var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.website .focus-visible\:ring-white\/60:focus-visible {
    --tw-ring-color:hsla(0, 0%, 100%, .6)
}

@media (min-width: 768px) {
    .website .md\:left-0 {
        left:0
    }

    .website .md\:w-48 {
        width:12rem
    }

    .website .md\:flex-row {
        flex-direction:row
    }

    .website .md\:items-start {
        align-items:flex-start
    }

    .website .md\:justify-end {
        justify-content:flex-end
    }

    .website .md\:gap-16 {
        gap:4rem
    }

    .website .md\:self-end {
        align-self:flex-end
    }

    .website .md\:pb-\[20vh\] {
        padding-bottom:20vh
    }

    .website .md\:pr-\[20vh\] {
        padding-right: 20vh
    }
} */
