:root {
  --background: #f4f2f6;
  --foreground: #18121a;

  --text-primary: #18121a;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18121a;
    --foreground: #ededed;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: visible;
  overflow-y: visible;
}

body {
  display: block;
  /* height: 822px; */
  max-width: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;;
}

main {
  display: block;
  width: 100vw;
  height: 100vh;
  /* max-width: 100%; */
  overflow: visible;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* --- layout shell --- */
.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; /* 822px */
  width: 95%;
  padding-left: 6vw;
  padding-top: 6vh;
  gap: 4rem;
  overflow: visible;
}

/* --- left nav --- */
nav {
  /* position: relative; */
  display: block;
  /* flex-direction: column; */
  flex-shrink: 0;
  width: 420px;
  height: 292px;
  z-index: 10;
  gap: 1px;
  font-size: 24px;
  /* padding-top: 20vh; */
  /* outline: 1px solid var(--text-primary); */
}

.nav-area {
  width: 12rem;
  min-width: 12rem;
  max-width: 12rem;
}

.ring {
  position: relative; /* absolute  */
  display: flex;
  /* flex-direction: column; */
  /* flex: 1 1 0%; */
  flex-shrink: 0;
  z-index: 0;
  /* left: 3.5rem; */
  /* top: 2rem; */
  width: 22rem;
  height: 22rem;
  /* max-width: 100%; */
  /* padding-left: 15px; */
  /* grid-column: 1; */
  /* grid-row: 1; */
  aspect-ratio: 1 / 1;
  overflow: visible;
  /* outline: 1px solid var(--text-primary); */
}

.radius-canvas {
  position: absolute;
  display: flex; 
  /* flex-direction: column; */
  /* width: 100%;
  height: 100%; */
  width: 32rem;
  height: 32rem;
  aspect-ratio: 1 / 1;
  z-index: 10;
  /* overflow: visible; */
  outline: 1px solid var(--text-primary);
}

.ring svg {
  position: relative;
  inset: 0;
  z-index: 2;
  overflow: visible;
}

.nav a {
  opacity: 0.6;
  letter-spacing: 0.1em;
}

.nav a:hover {
  opacity: 1;
}

/* --- content area --- */
section {
  position: relative;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 0%;
  /* width: 1006px; */
  /* height: 10vh; */
  /* padding-bottom: 5vh; */
  /* padding-right: 5vw; */
  /* margin-right: 30rem; */
  font-size: .85rem;
  z-index: 5;
  /* grid-column: 2; */
  /* grid-row: 2; */
  /* gap: 4rem; */
  outline: 1px solid yellow;
}

ul, ol {
  display: flex;
  flex-direction: column;
  list-style: none;
  /* width: 192px; */
  /* height: 292px; */
}


/* --- desktop override --- */
@media (min-width: 800px) {
  .layout {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    /* align-self: flex-start; */
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: auto 1fr; */
    height: 100%;
    width: 95%;
    padding-left: 7vw;
    padding-top: 7vh;
    gap: 9rem;
    overflow: visible;
  }

  .ring {
    width: 380px;
    height: 380px;
    overflow: visible;
  }

  .ring-column {
  position: relative;
  width: 20rem;   /* this is what gap separates */
  height: 20rem;
  flex-shrink: 0;
  overflow: visible;
}

  .radius-canvas { 
    width: 160%;
    height: 160%;
    overflow: visible;
    outline: 3px solid pink;
  }
  
  .nav {
    grid-column: 1;
    grid-row: 1;
  }
  
  section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 0%;
    /* padding-bottom: 20rem; */
    /* padding-left: 30rem; */

    /* margin-top: 5rem; */
    /* width: 30%; */
    /* height: 80%; */
    font-size: .95rem;
    line-height: 1rem;
    justify-content: flex-end;
    outline: 1px solid blue;
  }
}