:root {
  --background: #ededed;
  --foreground: #18121a;

  --text-primary: #18121a;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18121a;
    --foreground: #ededed;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  display: block;
  max-width: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto-mono);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;;
}

main {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: visible;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* --- layout shell --- */
.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 95%;
  padding-left: 6vw;
  padding-top: 6vh;
  gap: 4rem;
  overflow: visible;
}

/* --- left nav --- */
.ring {
  position: relative; 
  display: flex;
  flex-shrink: 0;
  z-index: 10;
  width: 22rem;
  height: 22rem;
  aspect-ratio: 1 / 1;
  overflow: visible;
}

.radius-canvas {
  position: absolute;
  display: flex; 
  width: 42rem;
  height: 42rem;
  aspect-ratio: 1 / 1;
  z-index: 0;
  overflow: visible;
}

.ring svg {
  position: relative;
  inset: 0;
  z-index: 2;
  overflow: visible;
}


/* --- content area --- */
section {
  position: relative;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 0%;
  font-size: .85rem;
  z-index: 5;
}

ul, ol {
  display: flex;
  flex-direction: column;
  list-style: none;
}


/* --- desktop override --- */
@media (min-width: 800px) {
  .layout {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 95%;
    padding-left: 7vw;
    padding-top: 7vh;
    gap: 3rem;
    overflow: visible;
  }

  .ring {
    width: 380px;
    height: 380px;
    overflow: visible;
  }

  .ring-column {
    position: relative;
    width: 20rem; 
    height: 20rem;
    flex-shrink: 0;
    overflow: visible;
  }

  .radius-canvas { 
    width: 10px;
    height: 10px;
    overflow: visible;
  }
  
  section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 0%;
    font-size: .95rem;
    line-height: 1rem;
    justify-content: flex-end;
  }
}