.about {
  display: flex;
  flex: 1 1 0%;
  align-items: flex-start;
  /* align-content: flex-start; */
  
  /* width: 25vw; */
  /* height: 20vh; */
  justify-content: flex-start;
  outline: 1px solid red;
}

.aboutRow {
  display: block;
  /* width: 842px; */
  height: 17px;
  opacity: 0.9; 
}

.aboutLabel {
  display: inline;
  opacity: 0.6;
}

.aboutSeparator {
  display: inline;
  opacity: 0.6;
}

.aboutValue {
  display: inline;
}

.about span {
  display: inline;
  height: auto;
  width: auto;
}