@keyframes slideUp {
    from {
        opacity: 0;
        transform:translateY(10px)
    }
    to {
        opacity: 1;
        transform:translateY(0)
    }
}

.about {
  display: block;
  flex: 1 1 0%;
  align-items: flex-start;
  justify-content: flex-start;
}

.aboutRow {
  display: block;
  opacity: 0; 
  animation: slideUp;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  margin-top: 0.45rem;
  line-height: 20px;
}

.aboutLabel {
  display: inline;
  opacity: 0.6;
}

.aboutSeparator {
  display: inline;
  
}

.aboutValue {
  display: inline;
}

.about span {
  display: inline;
  height: auto;
  width: auto;
}

.aboutRow:nth-child(1) { animation-delay: 0s; }
.aboutRow:nth-child(2) { animation-delay: 0.05s; }
.aboutRow:nth-child(3) { animation-delay: 0.1s; }
.aboutRow:nth-child(4) { animation-delay: 0.15s; }
.aboutRow:nth-child(5) { animation-delay: 0.2s; }
.aboutRow:nth-child(6) { animation-delay: 0.25s; }
.aboutRow:nth-child(7) { animation-delay: 0.3s; }
.aboutRow:nth-child(8) { animation-delay: 0.35s; }
.aboutRow:nth-child(9) { animation-delay: 0.4s; }
