.about {
  display: flex;
  flex: 1 1 0%;
  align-items: flex-end;
  font-size: 16px;
  width: 1006px;
  height: 432px;
  justify-content: flex-end;
  padding-bottom: 164px;
  padding-right: 164px;
  outline: 1px solid var(--text-primary);
}

.aboutRow {
  display: block;
  width: 842px;
  height: 17px;
  opacity: 0.9; 
}

.aboutLabel {
  display: inline;
  opacity: 0.6;
}

.aboutSeparator {
  display: inline;
  opacity: 0.6;
}

.aboutValue {
  display: inline;
}

.about span {
  display: inline;
  height: auto;
  width: auto;
}